<!DOCTYPE html>
<html>
<head>
  <title>FARS</title>
  {% load static %}
  <!-- For calendar -->
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  {% block javascript %}
  {% endblock %}
</head>
<body>
  {% if user.is_authenticated %}
  <a class="btn btn-info" href="/logout">Logout</a>
  {% else %}
  <a class="btn btn-info" href="/login">Login</a>
  {% endif %}
  {% block calendar %}
    <h1>Bookables</h1>
    <ul>
    {% for bookable in bookables %}
      <li>
        <a href="/booking/{{bookable.id_str}}">{{bookable.name}}</a>
      </li>
    {% empty %}
      There are no bookables, add some through the admin interface.
    {% endfor %}
    </ul>
  {% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="{% static 'js/bookable.js' %}"></script>
</body>
</html>
