{% extends "modalcontent.html" %}
{% load i18n %}
{% block title %}
{% blocktrans with b=booking.bookable %} Booking of {{ b }} {% endblocktrans %}
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-3 font-weight-bold">
            {% trans "Booked by:" %}
        </div>
        <div class="col-9">
            {% if booking.user.first_name and booking.user.last_name %}
                {{booking.user.first_name}} {{booking.user.last_name}}
            {% else %}
                {{booking.user.username}}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-3 font-weight-bold">
            {% trans "Start:" %}
        </div>
        <div class="col-9">
            {{booking.start}}
        </div>
    </div>
    <div class="row">
        <div class="col-3 font-weight-bold">
            {% trans "End:" %}
        </div>
        <div class="col-9">
            {{booking.end}}
        </div>
    </div>
    <div class="row">
        <div class="col-3 font-weight-bold">
            {% trans "Comment:" %}
        </div>
        <div class="col-9">
            {{booking.comment}}
        </div>
    </div>
    <div class="row">
        <div class="col-3 font-weight-bold">
            {% trans "Group:" %}
        </div>
        <div class="col-9">
          {% if booking.booking_group %}
            {{booking.booking_group}}
          {% else %}
            {% trans "Private booking" %}
          {% endif %}
        </div>
    </div>

    <!-- Google Calendar event -->
    {% if gevent_show_row %}
        <div class="row">
            <div class="col-3 font-weight-bold">
                {% trans "GCal event:" %}
            </div>
            <div class="col-9">
            {% if gevent_link == 0 %}
                {% trans "This booking has no event" %}
                <!-- XXX: Could have a button that creates an event -->
            {% elif gevent_status == 1 %}
                <button id="geventbutton_fetch" class="btn btn-success m-0 px-1 py-0">Show link</button>
            {% elif gevent_status == 2 %}
                <a href={{gevent_link}}>{% trans "Event link" %}</a>
                <!-- XXX: Could have a button that removes the event -->
            {% elif gevent_status == 3 %}
                {% trans "Event cancelled" %}
                <!-- XXX: Could have a button that un-cancels the event -->
            {% elif gevent_status == 4 %}
                {% trans "Event no longer exists" %}
                <!-- XXX: Could have a button that re-creates the event -->
            {% endif %}
            </div>
        </div>
        <script>
            $('#geventbutton_fetch').click(function(event) {
                // Fetch the Google Calendar event by providing a query parameters, and then update the modal view
                $.ajax({
                url: '/booking/booking/{{booking.id}}?gevent_fetch=',
                type: 'GET',
                success: function(data) {
                    $('#modalBox').find('.modal-content').html(data);
                }
                })
            });
        </script>
    {% endif %}
</div>
{% endblock %}

{% block footer %}
  {% if unbookable %}
    {% load tags %}
    <div class="form-inline">
      {% if booking.repeatgroup %}
        <label for="repeat-select" class="m-1">{% trans "Unbook repeated booking:" %}</label>
        <select id="repeat-select" class="form-control m-1">
          <option value="0">{% trans "This event only" %}</option>
          <option value="1">{% trans "This event and subsequent events in series" %}</option>
          <option value="2">{% trans "All events in this series" %}</option>
        </select>
      {% endif %}
      <button id="unbookbutton" class="btn btn-warning m-1">
      {% if user|is_bookableadmin:booking.bookable %}
        {% trans "Admin unbook" %}
      {% else %}
        {% trans "Unbook" %}
      {% endif %}
      </button>
    </div>
    <script type="text/javascript">
      $('#unbookbutton').click(function(event) {
        var data = {}
        var repeatSelect = $('#repeat-select');
        if (repeatSelect.length) {
          data.repeat = repeatSelect.val();
        }
        $.ajax({
          url: '{{url}}' + '?' + $.param(data),
          type: 'DELETE',
          success: function(data) {
            $('#calendar').fullCalendar('refetchEvents');
            $('#modalBox').modal('hide');
          }
        })
      });
    </script>
  {% else %}
    <div class="alert alert-warning">{{warning}}</div>
  {% endif %}
{% endblock %}
