{% extends "modalcontent.html" %}
{% load i18n %}

{% block title %}
{% blocktrans %} Booking of {{ booking.bookable }} {% endblocktrans %}
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-3 font-weight-bold">
      {% trans "Booked by:" %}
    </div>
    <div class="col-9">
      {% if booking.user.first_name and booking.user.last_name %}
        {{booking.user.first_name}} {{booking.user.last_name}}
      {% else %}
        {{booking.user.username}}
      {% endif %}
      {% if is_owner %}
        {% trans "(you)" %}
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-3 font-weight-bold">
      {% trans "Start:" %}
    </div>
    <div class="col-9">
      {{booking.start}}
    </div>
  </div>
  <div class="row">
    <div class="col-3 font-weight-bold">
      {% trans "End:" %}
    </div>
    <div class="col-9">
      {{booking.end}}
    </div>
  </div>
  <div class="row">
    <div class="col-3 font-weight-bold">
      {% trans "Comment:" %}
    </div>
    <div class="col-9">
      {{booking.comment}}
    </div>
  </div>
  <div class="row">
    <div class="col-3 font-weight-bold">
      {% trans "Group:" %}
    </div>
    <div class="col-9">
      {% if booking.booking_group %}
        {{booking.booking_group}}
      {% else %}
        {% trans "Private booking" %}
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-3 font-weight-bold">
      {% trans "Repeating:" %}
    </div>
    <div class="col-9">
      {% if booking.repeatgroup %}
        {% trans "Yes, booking" %} {{ booking.get_repeatgroup_index }}/{{ booking.repeatgroup.count }}
      {% else %} 
        {% trans "No" %}
      {% endif %}
    </div>
  </div>
  {% if gcal %}
  <div class="row">
    <div class="col-12 mt-2">
      <a href="{{gcal}}" target="_blank" rel="nofollow noopener">Create an event in Google Calendar</a>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block footer %}
<div class="form d-flex">
  {% if booking.repeatgroup %}
    <div>
      <label for="repeat-select" class="ml-1">
        {% trans "Unbook repeating booking:" %}
      </label>
      <select
        id="repeat-select"
        class="form-control m-1"
        {% if not unbookable %}
          disabled
          title="{{warning}}"
        {% endif %}
      >
        <option value="0">{% trans "This event only" %}</option>
        <option value="1">{% trans "This event and subsequent events in series" %}</option>
        <option value="2">{% trans "All events in this series" %}</option>
      </select>
    </div>
  {% endif %}

  <button
    id="unbookbutton"
    class="btn btn-warning m-1 align-self-end"
    {% if not unbookable %}
      disabled
      title="{{warning}}"
    {% endif %}
  >
    {% if is_ongoing %}
      {% trans "End" %}
      {% if is_admin and not is_owner %}
        {% trans "(admin)" %}
      {% endif %}
    {% else %}
      {% trans "Unbook" %}
      {% if is_admin and not is_owner %}
        {% trans "(admin)" %}
      {% endif %}
    {% endif %}
  </button>
</div>

{% if unbookable %}
  <script>
    $('#unbookbutton').click(() => {
      const data = {};
      const repeatSelect = $('#repeat-select');
      if (repeatSelect.length) {
        data.repeat = repeatSelect.val();
      }
      $.ajax({
        url: '{{url}}' + '?' + $.param(data),
        type: 'DELETE',
        success: () => {
          $('#calendar').fullCalendar('refetchEvents');
          $('#modalBox').modal('hide');
        }
      })
    });
  </script>
{% endif %}
{% endblock %}
