{% extends "modalcontent.html" %}
{% block title %}
Booking {{ bookable }}
{% endblock %}
{% block body %}
{% load bootstrap4 %}
<form id="bookform">
  {% csrf_token %}
  {% bootstrap_form_errors form %}
  {% bootstrap_field form.bookable %}
  {% bootstrap_field form.start layout="horizontal" horizontal_field_class="col-md-9 form-inline" %}
  {% bootstrap_field form.end layout="horizontal" horizontal_field_class="col-md-9 form-inline" %}
  {% bootstrap_field form.comment layout="horizontal" %}
</form>
<script type="text/javascript">
  $('#bookform').submit(function(event) {
    $.post("{{url}}", $(this).serialize())
      .done(function() {
        $('#calendar').fullCalendar('refetchEvents');
        $('#modalBox').modal('hide')
      }).fail(function(data){
        $('#modalBox').find('.modal-content').html(data.responseText);
      });
    event.preventDefault();
  });
</script>
{% endblock %}
{% block footer %}
<input class="btn btn-success" type="submit" value="Submit" form="bookform">
{% endblock %}