{% extends "modalcontent.html" %}
{% load i18n %}


{% block title %}
  {% if user.first_name and user.last_name %}
    {% blocktrans %}Booking <strong>{{ bookable }}</strong> for {% endblocktrans %}<strong>{{ user.first_name }} {{ user.last_name }}</strong>
  {% else %}
    {% blocktrans %}Booking <strong>{{ bookable }}</strong> for {% endblocktrans %}<strong>{{ user.username }}</strong>
  {% endif %}
{% endblock %}

{% block body %}
  {% load bootstrap4 %}
  {% load static %}
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/book.css' %}">
  <form id="bookform">
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_field form.bookable %}
    {% bootstrap_field form.user %}
    <div class="row form-group">
      <div class="col-md-6">
        {% bootstrap_field form.start layout="vertical" vertical_field_class="col-md-9" %}
        <button type="button" id="nowbutton" class="btn btn-warning float-right">{% trans "Now" %}</button>
      </div>
      <div class="col-md-6">
        {% bootstrap_field form.end layout="vertical" vertical_field_class="col-md-9" %}
      </div>
    </div>
    {% bootstrap_field form.comment layout="horizontal" %}
  </form>
  {% if repeatform %}
    <div id="toggle-wrapper">
      <input id="repeat-toggle" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-on="Repeating" data-off="Non-repeating">
    </div>
    <div id="repeat-form-wrapper" class="disabled">
      <form id="repeatform">
        {% csrf_token %}
        {% bootstrap_form_errors repeatform %}
        <div class="row form-group">
          <div class="col-md-6">
            {% trans "Frequency of repetition in days" as transfreq %}
            {% bootstrap_field repeatform.frequency placeholder=transfreq %}
          </div>
          <div class="col-md-6">
            {% bootstrap_field repeatform.repeat_until %}
          </div>
      </form>
    </div>
  {% endif %}

  <script type="text/javascript">
    $('#repeat-toggle').change(function() {
      $('#repeat-form-wrapper').toggleClass('disabled');
    });
    $('#bookform').submit(function(event) {
      if($('#repeat-toggle').prop('checked')) {
        var postdata = $(this).serialize()+'&'+$('#repeatform').serialize();
      } else {
        var postdata = $(this).serialize();
      }
      $.post("{{url}}", postdata)
        .done(function() {
          $('#calendar').fullCalendar('refetchEvents');
          $('#modalBox').modal('hide')
        }).fail(function(data){
          $('#modalBox').find('.modal-content').html(data.responseText);
        });
      event.preventDefault();
    });
    $('#nowbutton').click(function() {
      let now = moment();
      $('#id_start_0').val(now.format('YYYY-MM-DD'));
      $('#id_start_1').val(now.format('HH:mm'));
      let then = now.add(1, 'hours')
      $('#id_end_0').val(then.format('YYYY-MM-DD'));
      $('#id_end_1').val(then.format('HH:mm'));
    });
  </script>
{% endblock %}

{% block footer %}
  <input class="btn btn-success" type="submit" value="{% trans "Submit" %}" form="bookform">
{% endblock %}
