{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/calendar-theme.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/day.js' %}"></script>
{% endblock %}

{% block calendar %}
  <div class="col-lg-6 col-md-8 col-sm-12 offset-lg-3 offset-md-2">
    <div id="calendar" data-date="{{date}}" data-bookable="{{bookable.id_str}}" data-locale="{{LANGUAGE_CODE}}"></div>
    <div id="modalBox" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          {% include "modalcontent.html" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
