{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/calendar-theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css'%}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/day.js' %}"></script>
{% endblock %}

{% block navbar %}{% endblock %}

{% block calendar %}
  <div id="maincontainer" class="container">
    <div class="row h-100">
      <div id="loginbox" class="offset-3 col-6 my-auto py-5 border bg-light">
        <h1 class="d-flex justify-content-center offset-2 col-8 pb-3">FARS</h1>
        {% if form.errors %}
          <p class="offset-2 col-8 text-danger">{% trans "Your username and password didn't match. Please try again." %}</p>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="form-group">{{ form.username }}</div>
          <div class="form-group">{{ form.password }}</div>
          <input class="form-group offset-2 col-8 btn btn-success" type="submit" value="Login">
          <input type="hidden" name="next" value="{{ next }}">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
