{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% get_current_language as language_code %}

{% block title %}
  {% blocktrans %}Book {{bookable}}{% endblocktrans %}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/calendar-theme.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/month.js' %}"></script>
{% endblock %}

{% block calendar %}
  <div class="col-12 offset-lg-1 col-lg-10">
    <div id="calendar" data-bookable="{{bookable.id_str}}" data-bookablestr="{{bookable}}" data-user="{{user.id}}" data-locale="{{language_code}}"></div>
  </div>
{% endblock %}
