{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/calendar-theme.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/month.js' %}"></script>
{% endblock %}

{% block calendar %}
  <div class="container-fluid">
    <div class="row align-items-center" style="margin: 2em 0;">
      <a class="col-1" href="/" style="color:black;">
        <i class="fas fa-arrow-circle-left fa-3x"></i>
      </a>
      <h1 class="col-2 offset-4 text-center">{{ bookable.name|upper }}</h1>
    </div>
  </div>
  <div class="col-10 offset-1">
    <div id="calendar" data-bookable="{{bookable.id_str}}"></div>
  </div>
{% endblock %}
