{% extends "modalcontent.html" %}
{% block title %}
Unbooking {{ booking.bookable }}
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-3 font-weight-bold">
            Booked by:
        </div>
        <div class="col-9">
            {% if booking.user.first_name and booking.user.last_name %}
                {{booking.user.first_name}} {{booking.user.last_name}}
            {% else %}
                {{booking.user.username}}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-3 font-weight-bold">
            Start:
        </div>
        <div class="col-9">
            {{booking.start}}
        </div>
    </div>
    <div class="row">
        <div class="col-3 font-weight-bold">
            End:
        </div>
        <div class="col-9">
            {{booking.end}}
        </div>
    </div>
    <div class="row">
        <div class="col-3 font-weight-bold">
            Comment:
        </div>
        <div class="col-9">
            {{booking.comment}}
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% if unbookable %}
{% load tags %}
<button id="unbookbutton" class="btn btn-warning">
    {% if user|is_bookablestaff:booking.bookable %}
    Admin
    {% endif %}
    Unbook
</button>
<script type="text/javascript">
  $('#unbookbutton').click(function(event) {
    $.post("{{url}}", function(data) {
        $('#calendar').fullCalendar('refetchEvents');
        $('#modalBox').modal('hide');
      });
  });
</script>
{% else %}
<div class="alert alert-warning">{{warning}}</div>
{% endif %}
{% endblock %}
