.modal-body label, label.col-form-label {
  font-weight: bold;
  font-size: 120%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #eee;
}

nav .separator {
  margin-right: 1rem;
  font-size: 1.5rem;
}

nav .btn {
  vertical-align: inherit;
}

main, .calendar-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

footer {
  width: 100%;
  padding: 0.25em 0;
  background-color: #eee;
  font-size: smaller;
}
